<div id="san-saru" class="san-saru-info">
  <div class="title-element">
    <p>No queremos elegir arbitrariamente los participantes, <br />para eso, hemos creado un método más horizontal, paraticipativo y descentralizado:</p> 
    <h1>El método "San Saru"</h1>
  </div>
  <div class="content-element">
    <div class="content-element-opacity">
      <%= image_tag("proceso-san-saru.png", :alt => "Proceso San Saru", :class => "san-saru-process-img") %>
    </div>
  </div>

  <button class="btn btn-dark btn-lg btn-block collapsed btn-sansaru" type="button" data-toggle="collapse" data-target="#collapseSanSaru" aria-expanded="false" aria-controls="collapseSanSaru">¿Por qué se llama San Saru? <span class="collapse-icon"></span></button>
  <div class="collapse" id="collapseSanSaru">
    <div class="why-sansaru container-fluid pt-4 pb-4">
      <div class="card col-sm-12 col-md-3 sansaru-basic-desc">
        <%= image_tag("nikko_tosho.jpg", :alt => "Escultura San Saru", :class => "card-img-top") %>
        <div class="card-body">
          <p class="card-text">San saru es un término japonés que se podría traducir como <br /><strong>“Los tres monos sabios”</strong><br /> y es representado por esta imagen.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-1"></div>
      <div class="card col-sm-12 col-md-8 text-center sansaru-complete-desc">
        <div class="card-header why-sansaru-intro">
          El concepto tiene varias interpretaciones. La que nos gusta y la que nos llevó a elegir este nombre para el método es la siguiente:
        </div>
        <div class="card-body why-sansaru-content">
          <p>Cuenta la leyenda que fueron enviados por los dioses para delatar y castigar las malas acciones de los humanos. Pero estos monos tenían algunas limitaciones.</p>
          
          <div class="card-deck">
            <div class="card">
              <%= image_tag("simio-sabio-sordo.jpg", :alt => "San Saru Sordo", :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">Kikazaru</h5>
                <p class="card-text">El mono sordo, era el encargado de utilizar el sentido de la vista para observar a quienes realizaban malas acciones y comunicárselo a Mizaru, mediante la voz.</p>
              </div>
            </div>
            <div class="card">
            <%= image_tag("simio-sabio-ciego.jpg", :alt => "San Saru Ciego", :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">Mizaru</h5>
                <p class="card-text">Era el mono ciego. No necesitaba su sentido de la vista, puesto que tan sólo se encargaba de transmitir al tercer mono, Iwazaru, los mensajes que le pasaba Kikazaru.</p>
              </div>
            </div>
            <div class="card">
              <%= image_tag("simio-sabio-mudo.jpg", :alt => "San Saru Mudo", :class => "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">Iwazaru</h5>
                <p class="card-text">Iwazaru, el tercero de los tres monos, era el mono mudo. Iwazaru escuchaba los mensajes transmitidos por Mizaru para decidir la pena de los dioses que le caería al desafortunado humano que lo mereciese y observar que se cumpliese.</p>
              </div>
            </div>
          </div>
          
          <p class="card-text">Colocados los tres monos en función de sus habilidades y de sus discapacidades, obtenemos un mono que ve, escucha y habla. Los monos juntos y bien organizados pueden alcanzar metas que, sin duda alguna, no lograrían por separado. Existen varias posibilidades de colocar a los tres monos. Todas ellas, excepto una, son situaciones de comunicación fallida, de asistencia colaborativa imposible. La que funciona es: primero el mono sordo, que ve y le explica al segundo lo que ve; el segundo, que no necesita ver, pues solo necesita escuchar lo que le dice el primero y transmitírselo al tercero, que no necesita hablar, sino solo escuchar, ver, decidir lo que mejor convenga y velar por su cumplimiento.</p>
        </div>
        <div class="card-footer why-sansaru-after">
          <p>ESTA INTERPRETACIÓN NOS EVOCA A ACEPTAR DISCAPACIDADES PROPIAS Y AJENAS, COLABORAR, FORMAR EQUIPOS MULTIFUNCIONALES PARA LOGRAR EL ÉXITO. </p>
          <p><strong>¿LES SUENA FAMILIAR?</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>