<%= render 'layouts/welcome' %>
<%= render 'static_pages/basic_info' %>
<%= render 'static_pages/san_saru' %>
<div class="container">
  <%= @content.html_safe %>
</div>
<%= render 'devise/registrations/new' %>