<div class="row align-items-center">
  <div class="col-md-12">
    <h1 class="text-center">Postulados</h1>
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Vive en</th>
        <th scope="col">Primera vez en el AoC</th>
        <th scope="col">Biografia</th>
        <th scope="col" colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @postulados.each do |postulado| %>
        <tr>
          <td><%= postulado.name %> <%= postulado.lastname %> </td>
          <td><%= postulado.profile.residence %></td>
          <td><%= postulado.profile.first_time %></td>
          <td><%= postulado.profile.bio %></td>
          <td>'Ver detalles'</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <%= will_paginate @postulados %>
      </div>
    </div>

  </div>
</div>



<br>
