<div class="row align-items-center">
    <div class="col-md-4 offset-md-4">
        <h1>Inscripción</h1>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-12 offset-md-4">
         <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">
                        <%= f.label :name %>
                    </label>
                    <div class="col-md-4">
                        <%= f.text_field :name, class: 'form-control input-md' %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">
                        <%= f.label :lastname %>
                    </label>
                    <div class="col-md-4">
                        <%= f.text_field :lastname, class: 'form-control input-md' %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">
                        <%= f.label :email %>
                    </label>
                    <div class="col-md-4">
                        <%= f.email_field :email, class: 'form-control input-md' %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">
                        <%= f.label :password %>
                    </label>
                    <div class="col-md-4">
                        <%= f.password_field :password, class: 'form-control input-md' %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">
                        <%= f.label :password_confirmation, "Confirmación" %>
                    </label>
                    <div class="col-md-4">
                        <%= f.password_field :password_confirmation, class: 'form-control input-md' %>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <%= f.submit "Registrarme", class: "btn btn-primary" %>
                    </div>
                </div>

            </fieldset>
        <% end %>
    </div>
</div>