<div class="row align-items-center">
  <div class="col-md-4 offset-md-4">
    <h2>Cambiar password</h2>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-12 offset-md-4">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">
          <%= f.label :password, "Nuevo password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> carácteres mínimo)</em><br />
          <% end %>
        </label>
        <div class="col-md-4">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control input-md' %>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">
          <%= f.label :password_confirmation, "Confirma tu nuevo password" %><br />
        </label>
        <div class="col-md-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-md' %>
        </div>
      </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4">
        <%= f.submit "Cambiar mi password", class: "btn btn-primary" %>
      </div>
    </div>
    </fieldset>
    <% end %>

  </div>
</div>


<%= render "devise/shared/links" %>
