<div class="row">
  <div class="col-sm-3">
    <br>
    <div class="row justify-content-md-center">
      <%= gravatar_for @user %>
    </div>
    <div class="row justify-content-md-center">
      <h2><%= @user.name %> <%= @user.lastname %></h2>
    </div>

    <% if @user.profile %>
      <% @profile = @user.profile %>
      <div class="row justify-content-md-center">
        <h6> <%= CS.get[@profile.country.to_sym ]%>,
             <%= CS.get(@profile.country)[@profile.state.to_sym]%>,
             <%= CS.get(@profile.country,@profile.state)[@profile.city.to_i] %>
        </h6>
      </div>

      <div class="row justify-content-md-center">
        <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseGravatar" aria-expanded="false" aria-controls="collapseGravatar">¿Cómo agrego mi foto?</button>
     </div>
      <div class="row justify-content-md-center">
        <h6>Primera vez en un AOC:
          <% if @profile.first_time %>
            Si
            <% else %>
            No
            <% end %>
        </h6>
      </div>
      <% unless params[:postulado] %>
        <div class="row justify-content-md-center">
          <h6>Camiseta de <%= Gender.find(@profile.gender_id).name %></h6>
        </div>
        <div class="row justify-content-md-center">
          <h6>Talla <%= Size.find(@profile.size_id).name %></h6>
        </div>

      <% end %>
      <br>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#bio">Biografía</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#expectativas">Expectativas</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#agile">Relación con la agilidad</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#traes">Trae al evento</a>
      </div>
      <br>
      <br>

      <% if params[:postulado] %>

        <div>
          <% if current_user.is_favorite? @user %>
            <button type="button" class="btn btn-success btn-block" id="favorite">
              En tus favoritos
            </button>
          <% else %>
            <button type="button" class="btn btn-info btn-block" id="favorite">
              Agregar a favoritos
            </button>
          <% end %>
        </div>

        <script>
            var id = <%= @user.id %>
            var isFavorite = <%= current_user.is_favorite? @user %>
            $("#favorite").click(function(e) {
                $('#favorite').prop('disabled', true);
                $('#favorite').html('...');

                if(isFavorite){
                    removeFavorite();
                }else{
                    addFavorite();
                }
            });
            function addFavorite(){
                $.ajax({
                    type: "POST",
                    url: "/favorite/add",
                    data: {
                        favorite_id: id
                    },
                    success: function(result) {
                        $('#favorite').removeClass().addClass('btn btn-success btn-block');
                        $("#favorite").html("En tus favoritos");
                        $('#favorite').prop('disabled', false);
                        isFavorite = !isFavorite
                    },
                    error: function(result) {
                        alert("upsss algo salio mal...");
                        $('#favorite').removeClass().addClass('btn btn-info btn-block');
                        $("#favorite").html("Agregar a favoritos");
                        $('#favorite').prop('disabled', false);
                    }
                });
            };
            function removeFavorite() {
                $.ajax({
                    type: "POST",
                    url: "/favorite/remove",
                    data: {
                        favorite_id: id
                    },
                    success: function(result) {
                        $('#favorite').removeClass().addClass('btn btn-info btn-block');
                        $("#favorite").html("Agregar a favoritos");
                        $('#favorite').prop('disabled', false);
                        isFavorite = !isFavorite
                    },
                    error: function(result) {
                        alert("upsss algo salio mal...");
                        $('#favorite').removeClass().addClass('btn btn-success btn-block');
                        $("#favorite").html("En tus favoritos");
                        $('#favorite').prop('disabled', false);
                    }
                });
            };
        </script>
        <br>

        <% result,message = can_invite? current_user %>
        <% if result %>
          <div class="row justify-content-md-center">
            <%= form_tag("/home/invite/#{params[:postulado]}", method: "post") do %>
            <%= submit_tag("Seleccionar", class: "btn btn-primary") %>
            <% end %>
          </div>
        <% else %>
          <div class="row justify-content-md-center">
            <p class="alert alert-warning"><%= message %></p>
          </div>
        <br>
        <div class="row justify-content-md-center">
            <%= link_to 'Atrás', profiles_path %>
          </div>
        <% end %>

      <% else %>
        <div class="row justify-content-md-center">
          <%= link_to 'Editar postulación', home_edit_path %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-9 mx-auto">
    <% if @user.profile %>
      <div class="collapse" id="collapseGravatar" style="">
        <div class="card card-body">
          <h3>¿Cómo agrego mi foto?</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h6>Para conocernos mejor, te invitamos a que completes tu postulación con tu foto</h6>
                  <p>Pasos:</p>
                    <ol>
                  <li>Ingresa a <a href="https://es.gravatar.com" target="_blank">es.gravatar.com</a></li>
                  <li>Presiona el botón "Regístrate" (junto al logo de WordPress.com arriba a la derecha)</li>
                  <li>Completa el formulario de registro o continúa con tu cuenta de Google (recomendado). ¡Tienes que usar el mismo correo electrónico con el que te postulaste!</li>
                  <li>Si ingresaste con Google, ¡Ya está cargada tu foto de perfil! Si no ingresaste con Google o quieres cambiar la foto, presiona Add a new image > Upload new y elige un archivo.</li>
                  <li>Recorta y centra la imagen (asegurate que se vean bien las miniaturas) elige la clasificación de tu imagen (sugerimos G) </li>
                  </ol>
                  <p>¡Y listo! Tu postulación ya posee foto.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <br>
        <h3 id="bio">Biografía</h3>
        <p>
          <%= @user.profile.bio %>
        </p>

        <p>
          <strong>Hobbies</strong>
          <%= @profile.hobbies %>
        </p>

        <h3 id="expectativas">Expectativas del evento </h3>
        <p>
          <%= @profile.expectancy %>
        </p>
        <h3 id="agile">Relación con la agilidad </h3>
        <p>
          <%= AgileRelation.find(@profile.agileRelation_id).name %>
        </p>

        <p>
          <strong>Valor preferido:</strong>
          <%= Agile.find(@profile.agile_id).name %>
        </p>

        <p>
          <strong>Elegido por:</strong>
          <%= @profile.agile_description %>
        </p>
        <h3 id="traes">Trae al evento</h3>
        <p>
          <%= @profile.bring %>
        </p>

        <p>
          <strong>alguna propuesta?:</strong>
          <%= @profile.proposal %>
        </p>

      <% else %>
        <div class="row">
          <p> Recuerda que debes completar tu postulación para tener la posibilidad de asistir al <%= aoc_name %></p>
          <div class="col-md-4 offset-md-4">
            <%= form_tag(home_new_path, method: "get") do %>
              <%= submit_tag("Completar postulación", class: "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>

