<div class="row">
  <div class="col-sm-3">
    <br>
    <div class="row justify-content-md-center">
      <%= gravatar_for @user %>
    </div>
    <div class="row justify-content-md-center">
      <h2><%= @user.name %> <%= @user.lastname %></h2>
    </div>
    <% if @user.profile %>
      <% @profile = @user.profile %>
      <div class="row justify-content-md-center">
        <h6> <%= CS.get[@profile.country.to_sym ]%>,
             <%= CS.get(@profile.country)[@profile.state.to_sym]%>,
             <%= CS.get(@profile.country,@profile.state)[@profile.city.to_i] %>
        </h6>
      </div>
      <div class="row justify-content-md-center">
        <h4>Primera vez en un AOC:
          <% if @profile.first_time %>
            Si
            <% else %>
            No
            <% end %>
        </h4>
      </div>
      <% unless params[:postulado] %>
        <div class="row justify-content-md-center">
          <h6>Camiseta de <%= Gender.find(@profile.gender_id).name %></h6>
        </div>
        <div class="row justify-content-md-center">
          <h6>Talla <%= Size.find(@profile.size_id).name %></h6>
        </div>

      <% end %>
      <br>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#bio">Biografía</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#expectativas">Expectativas</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#agile">Relación con la agilidad</a>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="#traes">Trae al evento</a>
      </div>
      <br>
      <br>
      <br>

      <% if params[:postulado] %>
        <% result,message = can_invite? current_user %>
        <% if result %>
          <div class="row justify-content-md-center">
            <%= form_tag("/home/invite/#{params[:postulado]}", method: "post") do %>
            <%= submit_tag("Seleccionar", class: "btn btn-primary") %>
            <% end %>
          </div>
        <% else %>
          <div class="row justify-content-md-center">
            <p class="alert alert-warning"><%= message %></p>
          </div>
        <br>
        <div class="row justify-content-md-center">
            <%= link_to 'Atrás', profiles_path %>
          </div>
        <% end %>

      <% else %>
        <div class="row justify-content-md-center">
          <%= link_to 'Editar postulación', home_edit_path %>
        </div>
      <% end %>

    <% end %>
  </div>
  <div class="col-sm-9 mx-auto">
    <% if @user.profile %>
      <br>
        <h3 id="bio">Biografía</h3>
        <p>
          <%= @user.profile.bio %>
        </p>

        <p>
          <strong>Hobbies</strong>
          <%= @profile.hobbies %>
        </p>

        <h3 id="expectativas">Expectativas del evento </h3>
        <p>
          <%= @profile.expectancy %>
        </p>
        <h3 id="agile">Relación con la agilidad </h3>
        <p>
          <%= AgileRelation.find(@profile.agileRelation_id).name %>
        </p>

        <p>
          <strong>Valor preferido:</strong>
          <%= Agile.find(@profile.agile_id).name %>
        </p>

        <p>
          <strong>Elegido por:</strong>
          <%= @profile.agile_description %>
        </p>
        <h3 id="traes">Trae al evento</h3>
        <p>
          <%= @profile.bring %>
        </p>

        <p>
          <strong>alguna propuesta?:</strong>
          <%= @profile.proposal %>
        </p>

      <% else %>
        <div class="row">
          <p> Recuerda que debes completar tu postulación para tener la posibilidad de asistir al AOC-Colombia</p>
          <div class="col-md-4 offset-md-4">
            <%= form_tag(home_new_path, method: "get") do %>
              <%= submit_tag("Completar postulación", class: "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>

