<div class="col-md-10 offset-md-1">
  <br>
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> Este evento no se ha podido guardar:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <fieldset>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :name, "Nombre del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :name, id: :event_name, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :fullname, "Nombre completo del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :fullname, id: :event_fullname, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :site, "Url del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :site, id: :event_site, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :support_mail, "E-mail de soporte" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :support_mail, id: :event_support_mail, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :participants, "Número de participantes" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :participants, id: :event_participants, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :tickets_left, "Entradas disponibles" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :tickets_left, id: :event_tickets_left, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :price, "Precio del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :price, id: :event_price, class: 'form-control input-md' %>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :reserve_price, "Precio de reserva del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :reserve_price, id: :event_reserve_price, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :ideal_price, "Precio ideal del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :ideal_price, id: :event_ideal_price, class: 'form-control input-md' %>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :start_date, "Fecha de inicio del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.datetime_select :start_date, id: :event_start_date, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :end_date, "Fecha de fin del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.datetime_select :end_date, id: :event_end_date, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :venue, "Lugar del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :venue, id: :event_venue, class: 'form-control input-md' %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :venue_location, "Dirección del evento" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :venue_location, id: :event_venue_location, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :monkeys, "Nombres de los monos" %>
        </label>
        <div class="col-md-7">
          <%= form.text_field :monkeys, id: :event_monkeys, class: 'form-control input-md' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-5 control-label" for="textinput">
          <%= form.label :status, "Estado del evento:" %>
        </label>
        <div class="col-md-7">
          <%= form.select(:status, Event::STATUS.map { |value| [ value.to_s, value.to_s ] },{},{id: :event_status, class: 'custom-select'}) -%>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-12 text-center">
          <%= form.submit "Guardar Evento", class: "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
