<!DOCTYPE html>
<html>

<head>
  <title>AOC - Sansaru</title>
  <%= csrf_meta_tags %>
  <!-- Scrollbar Custom CSS -->
  <%= stylesheet_link_tag    'application_v2', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header_v2' %>
  <%= render 'layouts/welcome_v2' %>
  <% if notice %>
    <p class="alert alert-success">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger">
      <%= alert %>
    </p>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <%= ".................." if Rails.env.development? %>
  <%= ENV['SMTP_ADDR'] if Rails.env.development? %>
  <%= ENV['MAIL_DOMAIN'] if Rails.env.development? %>
  <%= ENV['MAIL_PASSWORD'] if Rails.env.development? %>
  <%= ENV['MAIL_USERNAME'] if Rails.env.development? %>
  <%= ".................." if Rails.env.development? %>
  <%= render 'layouts/footer_v2' %>
</body>

</html>